body
{
   margin: 0px;
   padding: 0px;
   border: 0px;
}
.header
{
    width: 100%;
    height: 400px;
    background-color: rgb(119, 119, 119);
    top: 0px;
    margin-top: 0px;
}
#ulheader1
{
    list-style-type: none;
    margin-top: 3px;
    margin-left: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}
#li1ulh1
{
    display: inline-block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}
#li2ulh1
{
    display: inline-block;
    margin-left: 1300px;
    font-size: 20px;
    color: white;
}
#ali2ulh
{
    text-decoration: none;
    color: white;
}
#headertext
{
    width: 100%;
    height: 140px;
    text-align: center;
    color: white;   
}
#h5ht
{
    font-family:Arial, Helvetica, sans-serif;
}
#ulheader2
{   
    height: 150px;
    list-style-type: none;
    text-align: center;
}
#imgulh2
{
    width: 140px;
    height: 120px;
    box-shadow: 3px 3px 5px rgb(250, 250, 250);
}
#liulh2
{
    display: inline-block;
    padding: 20px;
}
/*------------content1----------------*/
.content1
{
    height: 310px;
}
#h1cont1
{
    padding-left: 85px;
}
#A1
{
    width: 800px;
    height: 180px;
    margin-left: 88px;
}
#d1
{
    width: 400px;
    height: 90px;
}
#imgd1
{
    width: 40px;
    height: 40px;
}
#p11
{
    display: inline;
    position: relative;
    top: -25px;
    left: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
#p12
{ 
    position: relative;
    top: -40px;
    left: 52px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
}
#d2
{
    width: 400px;
    height: 90px;
}    
#d3
{
    position: relative;
    top: -181px;
    left: 400px;
    width: 400px;
    height: 90px;
}
#d4
{
    position: relative;
    top: -183px;
    left: 400px;
    width: 400px;
    height: 90px;
}
#imgcont1
{
    position: relative;
    top: -265px;
    left: 1000px;
    width: 300px;
    height: 270px;
}

/*----------------content2------------------*/

.content2
{
    height: 650px;
    text-align: center;
    background-color: rgb(197, 196, 194);
}
#pcont2
{
    color: rgb(141, 140, 140);
    font-size: 20px;
}
#images
{   
    height: 500px;
    margin-left: 120px;
    margin-right: 120px;
}
#img1
{
    position: relative;
    width: 400px;
    height: 225px;
    left: -15px;
    top: -254px;
}
#img2
{
    position: relative;
    width: 400px;
    height: 225px;
    left: 0px;
    top: -254px;
}
#img3
{
    position: relative;
    width: 400px;
    height: 480px;
    left: 15px;
}
#img4
{
    position: relative;
    width: 820px;
    height: 225px;
    left: -210px;
    top: -230px;
}
/*--------content3---------------*/
.content3
{
    height: 400px;
    text-align: center;
}
#h1cont3
{
    font-size: 70px;
    color: rgb(124, 124, 124);
    margin-top: 0px;
    margin-bottom: 0px;
}
#h12cont3
{
    margin-top: 0px;
    margin-bottom: 0px;
}
/*---------------footer1-----------*/
.footer1
{
    height: 200px;
    background-color: rgb(90, 90, 90);
    margin-bottom: 0px;
}    
#leftf
{
    width: 900px;
    height: 190px;
    margin-left: 10px;
    position: relative;
    top: 30px;
}
#h1fl
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 60px;
    color: white;
}
#pf1
{
    color: white;
    margin-left: 60px;
}
#rightf
{
    width: 400px;
    height: 190px;
    position: relative;
    top: -175px;
    left: 950px;
}
#inputf
{
    background-color: rgb(90, 90, 90);
    color: white;
    margin-top: 70px;
    margin-left: 20px;
    width: 300px;
    border: none;
    border-bottom: 2px solid white;
}
/*-----------------footer2--------------*/
.footer2
{
    height: 300px;
}
#d1f2
{
    width: 200px;
    height: 240px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}
#d2f2
{
    width: 200px;
    height: 240px;
    position: relative;
    top: -260px;
    left: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#d3f2
{
    position: relative;
    top: -520px;
    left: 900px;
    width: 500px;
    height: 240px; 
}
#h1d3f2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#textd3f2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
#ulf2
{
    position: relative;
    left: -40px;
    list-style-type: none;
}
#lif2
{
    display: inline-block;
    padding-right: 10px;
}
#circle
{
    margin-top: 30px;
    width: 40px;
    height: 40px;
    background: rgb(92, 92, 92);
    border-radius: 70px;
}